@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

body {
  background-color: bisque;
  font-family: 'Titillium Web', sans-serif;
}

body h1 {
  font-weight: 700;
}

body h2 {
  font-weight: 400;
  font-style: italic;
}

.art {
  font-weight: 700;
}
