@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

body {
  background-color: bisque;
  font-family: 'Titillium Web', sans-serif;
}

body h1 {
  font-weight: 700;
}

body h2 {
  font-weight: 400;
  font-style: italic;
}

.art {
  font-weight: 700;
}

/* Comments pop up styles */

.popUpComments {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.xclose {
  position: relative;
  margin-left: 2%;
  left: 42%;
  width: 40px;
  top: 2rem;
}

.imageComments {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageComments img {
  width: 75%;
  height: auto;
}

.titleComments {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40px;
}

.detailsComments {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.detailsComments ul {
  padding-inline-start: 0;
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.detailsComments li {
  display: block;
  margin: 1%;
}

.divComments {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divComments ul {
  padding-inline-start: 0;
}

.divComments li {
  display: block;
}

.addComment {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: auto;
  align-items: center;
}

.formComment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.comment {
  display: flex;
  align-items: flex-start;
  height: 50px;
}
